.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}

@media (max-width: 600px) {
    .shop-container {

        grid-template-columns: 1fr 1fr;
    }

    .products-container {

        grid-template-columns: repeat(1, 1fr);

    }
}